# virtual environment
venv/
.venv/

__pycache__/
*.py[cod]

# environment
.env

# data, output and weights
data/**
!data/**/
!data/**/.gitkeep
output/*
!output/**/.gitkeep
models/*
!models/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db